body {
    display: flex;
    background: url(zagadochniifon.png) no-repeat right bottom fixed;
    background-size: cover;
    
}



.box {
    /*display: block;*/
    width: 3px;
    height: 3px;
    position: fixed;
    margin-left: 87%;
    margin-top: 35%;
    background: grey;
}

.box:hover {
    /*transform: scale(30);*/
    width: 150px;
    height: 150px;
    background-image: url(qrcode.png);
    background-size: cover;

}

.sla {
    display: flex;
    flex-direction: column;
}

.txt {
    display: inline-block;
    font-style: italic;
    color: aliceblue;
    margin-left: 215px;
    margin-top: 97px;
    opacity: 0.6;
}

.txt2 {
    display: inline-block;
    color: white;
    margin-left: 215px;
    margin-top: 67px;
    
    
}

.txt2::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    position: absolute;
    opacity: 0.45;
    z-index: -1;
}